.contact-list-container button {
  border: none;
  background-color: rgb(94, 96, 216);
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  display: flex;
  cursor: pointer;
}


.contact-preview {
  width: 40vw;
  height: 10vh;
  background-color: yellowgreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 10px
}
